body {
    background-color: rgb(85, 201, 162);
}

#container {
    text-align: center;
}

form {
    width: 500px;
    background-color: rgb(244, 236, 203);
    margin: 10px auto;
    padding: 16px;
    border-radius: 20px;
    text-align: center;
}

#info {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

button {
    width: 100px;
    border: 0;
    background-color: rgb(226, 183, 127);
    height: 24px;
    border-radius: 10px;
    margin: 0 10px;
}

#reset {
    background-color: rgb(159, 92, 92);
    color: aliceblue;
}

input {
    text-align: center;
}

.title {
    font-size: 30px;
    color: aliceblue;
}

#result {
    display: none;
    width: 500px;
    margin: 10px auto;
    border-radius: 16px;
    text-align: center;
    padding: 10px;
    background-color: rgb(181, 203, 244);
}

button {
    margin: 10px auto;

}

table {
    width: 60%;
    margin: 0 auto;
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;

}

thead th {
    background-color: rgb(247, 203, 153);
    border: 1px solid;
    font-size: 18px;
}

td {
    border: 1px solid;
    background-color: rgb(251, 251, 250);
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}